{{#entries}}
<div class="tweet">
    <div class='body bg-color-light text-shadow-dark'>
        <p>
            {{&text}}
        </p>

        <div class="author bg-color-dark">
            {{#profile_image_url_https}}
                <img src='{{profile_image_url_https}}'/>
            {{/profile_image_url_https}}
            <h5>
                {{from_user_name}}
            </h5>
            <span class='account'>@{{from_user}}</span>
        </div>

        <span class='triangle border-color-light'></span>
    </div>
</div>
{{/entries}}
{{^entries}}
    <div class="error bg-color-light text-shadow-dark">
        <p>At this moment there are no tweet for '{{search}}' to display.</p>
    </div>
{{/entries}}