{{#entries}}
<div class="tweet">
    <div class='body bg-color-light text-shadow-dark'>
        {{&text}}
        <span class='triangle border-color-light'></span>
    </div>
    <div class="author">
        {{#profile_image_url_https}}
            <img src='{{profile_image_url_https}}'/>
        {{/profile_image_url_https}}
        <h5>
            {{from_user_name}}
        </h5>
        <span class='account text-color-dark'>@{{from_user}}</span>
    </div>
    <div class='clearfix'></div>
</div>
{{/entries}}
{{^entries}}
    <div class="error bg-color-light text-shadow-dark">
        <p>At this moment there are no tweet for '{{search}}' to display.</p>
    </div>
{{/entries}}