/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

div, ul, li, h1, h2, h3, h4, section, p{
	background-repeat:no-repeat;
	background-position:left center;
}

h2 {
display: block;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
font-weight: bold;
}

p {
display: block;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

body {
    font-size: 1em;
    line-height: 1.2;
	width:100%;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

ul, ul li{
	list-style-type:none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0;
	}

ul li{
	float:left;
	}

#container{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	}

footer{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	height:65px;
	background-color:#FFF;
	}

.turtle{
	width:50%; 
	float:left;
	background-color:#DDD;
	height:100%;
	}


/* PUBLIC TRANSPORT SCREEN CSS */

.publicTransport{
	padding-bottom:20px;
	background-color:#FFF;
	}

.publicTransport .titleBar{
	width:100%;
	height:80px;
	color:#FFF;
	background-color:#333;
	position:relative;
	}

.publicTransport h2{
	margin-left:15px;
	padding-left:85px;
	font-size:32px;
	font-weight:bold;
	line-height:2.6em;
	}

.publicTransport .titleBar .titleDistance{
	height:55px;
	position:absolute;
	right:0;
	top:0;
	line-height:3.9em;
	width:auto;
	padding:0 10px 0 10px;
	background: #232323; /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #232323 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #232323 0%,#333333 100%); /* W3C */
	}

.publicTransport .titleBar .titleDistance .tbDistance{
	float:left;
	width:auto;
	margin:0 5px 0 15px;
	font-size:11px;
	padding-left:45px;
	}

.publicTransport .titleBar .titleDistance .distanceBike{
	background-image:url(images/FT__0001_fietsafstand.png);
	}

.publicTransport .titleBar .titleDistance .distanceByFoot{
	background-image:url(images/FT__0000_wandelafstand.png);
	}

/* NEXT TRAINS/TRAMS/BUSSES FROM STATIONS */
.publicTransport .ptResults{
	display:block;
	width:100%;
	}

.publicTransport .ptResults ul li{
	display:block;
	float:none;
	height:48px;
	padding-top:7px;
	background-color:#f2f2f2;
	clear:both;
	font-size:18px;
	line-height:0.6em;
	}

.publicTransport .ptResults ul li:nth-child(2n){
	background-color:#FFF;
	}

.publicTransport .ptResults ul li .infoOrNumber, 
.publicTransport .ptResults ul li .tramOrBus{
	width:40px;
	height:40px;
	background-color:#000;
	margin-left:15px;
	text-align:center;
	line-height:2.4em;
	font-size:17px;
	color:#FFF;
	float:left;
	}

.publicTransport .ptResults ul li .tramOrBus{
	margin:0;
	background-color:#ccc;
	}

.publicTransport .ptResults ul li h3{
	float:left;
	margin-left:15px;
	line-height:2.0em;
	}

.publicTransport .ptResults ul li .time{
	float:right;
	width:25%;
	line-height:2.1em;
	}

.publicTransport .ptResults ul li .time p{
	float:left;
	display:block;
	width:40%;
	text-align:center;
	}

.publicTransport .ptResults ul .subResult{
	background-image:url(images/arrow.png);
	background-position:15px top;
	}

.publicTransport .ptResults ul .subResult .infoOrNumber{
	margin-left:55px;
}

.publicTransport .ptResults ul li .time p:nth-child(2n){

	}

.red{
	color:#c30000;
	}


/* ============================= !!! =============================
* ICONS + BUS NUMBERS + TRAIN LINES
*  ============================= !!! =============================
*/

/*===TITLE BARS ICON===*/
/*TRAM*/
.publicTransport h2.tram{
	background-image:url(images/FT__0004_tramhalte.png);
	}

/*BUS*/
.publicTransport h2.bus{
	background-image:url(images/FT__0003_bushalte.png);
	}

/*TRAIN*/
.publicTransport h2.train{
	background-image:url(images/FT__0005_treinstation.png);
	}


/*===TRAINS===*/
/*IC-train*/
.publicTransport .ptResults ul li .infoOrNumber.IC{
	background-color:#333;
	}

/*IR-train*/
.publicTransport .ptResults ul li .infoOrNumber.IR{
	background-color:#666;
	}

/*L-train*/
.publicTransport .ptResults ul li .infoOrNumber.L{
	background-color:#999;
	}


/*===BUSSES==*/
/*Bus 58*/
.publicTransport .ptResults ul li .infoOrNumber.n58{
	background-color:#338c26;
	}

/*SUB-CLASS BUS*/
.publicTransport .ptResults ul li .tramOrBus.bus{
	background-image:url(images/FT__0002_bus.png);
	}

/*SUB-CLASS TRAM*/
.publicTransport .ptResults ul li .tramOrBus.tram{
	background-image:url(images/FT__0003_tram.png);
	}



/*
* ICONS TITLES PUBLIC TRANSPORT
*/
.publicTransport .icon_big.train{
	background-image:url(images/FT__0005_treinstation.png);
	}

.publicTransport .icon_big.tram{
	background-image:url(images/FT__0004_tramhalte.png);
	}

.publicTransport .icon_big.bus{
	background-image:url(images/FT__0003_bushalte.png);
	}

/*
* LOCATION TURTLE
*/

.location{
	background-color:#bd1d92;
	-webkit-box-shadow:  -3px 2px 3px 1px rgba(0, 0, 0, 0.4);
    box-shadow:  -3px 2px 3px 1px rgba(0, 0, 0, 0.4);
	}
	
.location .titleBar{
	width:100%;
	height:80px;
	background: #5d0e48; /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d0e48), color-stop(100%,#b91c8f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5d0e48 0%,#b91c8f 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #5d0e48 0%,#b91c8f 100%); /* W3C */
	position:relative;
	color:#FFF;
	}
	
.location .titleBar .clock{
	width:210px;
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	background-color:#bd1d92;
	-webkit-box-shadow:  -3px -4px 3px 1px rgba(0, 0, 0, 0.4);
    box-shadow:  -3px -4px 3px 1px rgba(0, 0, 0, 0.4);
	font-size:40px;
	text-align:center;
	line-height:1.9em;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
	color:#de8ec9;
}

@media all and (max-width: 800px) {
  	.turtle{
  		width:100%;
		-webkit-overflow-scrolling: touch;
  	}
	
	.turtle > *{
		-webkit-transform: translateZ(0px);
	}
	
}

@media all and (max-width: 480px) {
  .publicTransport .titleBar .titleDistance{
  	display:none;
  	}
}


.floatLeft{
	float:left;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix2:before{
	clear:both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

