/*
 * FlatTurtle Screens >> StyleSheet
 *
 * StyleSheet for the FlatTurtle Screens.
 * Based on Boilerplate template.
 * 
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

i{
	display:block;
}

@font-face {
    font-family: SohoGothicProReg;
    src:url(fonts/SohoGothicPro-Regular.otf);
}

@font-face {
    font-family: SohoGothicProMed;
    src:url(fonts/SohoGothicPro-Medium.otf);
}

@font-face {
    font-family: SohoGothicProBold;
    src:url(fonts/SohoGothicPro-Bold.otf);
}

@font-face {
    font-family: SohoStdProBold;
    src:url(fonts/SohoStdBold.otf);
}

div, ul, li, h1, h2, h3, h4, section, p, i{
	background-repeat:no-repeat;
	background-position:left center;
}

h2 {
display: block;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
font-weight: bold;
}

p {
display: block;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

h5 {
display: block;
font-size: 0.83em;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}

body {
    font-size: 19px;
    line-height: 120%;
	width:100%;
	height:100%;
	font-family:SohoGothicProMed;
	overflow:hidden;
}

#container{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:80px;
	overflow:hidden;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.group {
	width:50%; 
	float:left;
	background-color:#DDD;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
}

.group {
	-webkit-overflow-scrolling: touch;
}
	
.group > *{
	-webkit-transform: translateZ(0px);
}

.pane {
	width:100%;
	display: none;
}

.pane.active {
	display: block !important;
}

/*===TITLE BARS ICON===*/

/*TRAIN*/
.titleBar i{
	width:81px;
	height:80px;
	float:left;
	margin-left:15px;
	}

.titleBar h2{
	float:left;
	margin-left:40px;
	font-size:1.5em;
	font-weight:bold;
	line-height:2.8em;
	font-family:SohoGothicProBold;
}

.titleBar i + h2{
	margin-left:5px;
}

.titleBar .train{
	background-image:url(images/FT__0005_treinstation.png);
}

/*TRAFFIC*/
.titleBar .traffic{
	background-image:url(images/FT__0002_autoverkeer.png);
	}
	
/*tram bus*/
.titleBar .tram.bus{
	background-image:url(images/FT__0000_tram-enbushalte.png);
	}

/*tram bus*/
.titleBar .bike{
	background-image:url(images/FT__0001_huurfietsen.png);
	}
	
/*bus*/
.titleBar .bus{
	background-image:url(images/FT__0003_bushalte.png);
	}

/*SUB-CLASS BUS*/
.results .bus{
	background-image:url(images/FT__0002_bus.png);
	padding:0;
	}

/*SUB-CLASS TRAM*/
.results .tram{
	background-image:url(images/FT__0003_tram.png);
	padding:0;
	}



ul, ul li{
	list-style-type:none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0;
	}

ul li{
	float:left;
	}


/* ==========================
* PUBLIC TRANSPORT SCREEN CSS > MAIN
========================== */

.titleBar{
	width:100%;
	height:80px;
	color:#FFF;
	background-color:#333;
	position:relative;
	}
	
.turtle .titleBar:nth-child(2){
	padding-bottom:40px;
}

.list .distance{
	height:55px;
	position:absolute;
	right:0;
	top:0;
	line-height:2.2em;
	width:auto;
	padding:18px 10px 0 10px;
	background: #232323; /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #232323 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #232323 0%,#333333 100%); /* W3C */
	}

.list{
	background-color:#CCC;
}

.distance .foot, .distance .bike, .distance p{
	float:left;
	width:auto;
	font-size:15px;
	}

.distance p{
	margin:0 10px 0 0;
	padding-left:20px;
}

.distance .bike{
	background-image:url(images/FT__0001_fietsafstand.png);
	width:40px;
	height:40px;
	}

.foot{
	background-image:url(images/FT__0000_wandelafstand.png);
	width:40px;
	height:40px;
	}

.distance .foot{
	background-image:url(images/FT__0000_wandelafstand.png);
	width:40px;
	height:40px;
	}
	
.list .turtle{
	padding-bottom:20px;
	background-color:#FFF;
}

.list .turtle:last-child{
	padding-bottom:0;
}

/* ==========================
* PUBLIC TRANSPORT SCREEN CSS > RESULTS
========================== */
.results{
	display:block;
	width:100%;
	font-family:SohoGothicProMed;
	}

.results ul li{
	display:block;
	float:none;
	height:48px;
	padding-top:7px;
	background-color:#f2f2f2;
	clear:both;
	font-size:1em;
	line-height:2.4em;
	}

.results ul li:nth-child(2n){
	background-color:#FFF;
	}
 
.results ul li .bus,
.results ul li .tram,
.results ul li .square{
	width:40px;
	height:40px;
	background-color:#000;
	margin-left:15px;
	text-align:center;
	line-height:2.2em;
	font-size:0.9em;
	color:#FFF;
	float:left;
	font-family:SohoGothicProBold;
	}

.results ul li .square:nth-child(2){
	margin-left:0;
}

.results ul li .bus, .results ul li .tram{
	margin:0;
	background-color:#ccc;
	}

.results ul li h3{
	float:left;
	margin-left:15px;
	line-height:1.8em;
	}

.results ul li .time{
	float:right;
	width:30%;
	font-family:SohoGothicProMed;
	line-height:2.2em;
	}

.results ul li .time p{
	float:left;
	display:block;
	width:40%;
	text-align:center;
	}

.turtle .wide ul li{
	position:relative;
}

.turtle .wide ul li .square{
	width:60px;
	background-color:#BBB;
	color:#333;
}

.turtle .wide ul li h3{
	margin-left:23px;
	line-height:1.7;
}

.turtle .wide ul li .square:before{
	content:"";
	width:20px;
	height:40px;
	background-image:url(images/arrow_right.png);
	background-repeat:no-repeat;
	display:block;
	position:absolute;
	left:82px;
	margin-top:10px;
}

.turtle .wide ul li .time p:first-child{
	color:#666;
	text-align:right;
}

.turtle .results.wide ul li .time{
	width:35%;
	}

.turtle .results.wide ul li .time p{
	text-align:right;
	width:40%;
}

.results ul .via{
	background-image:url(images/arrow999.png);
	background-position:25px -7px;
	}

.results ul .via .square{
	margin-left:60px;
}


.titleBar .amount{
	position:absolute;
	left:30px;
	width:250px;
	text-align:left;
	display:block;
	padding-top:20px;
	font-family:SohoStdProBold;
}

.list .results .turtle .colorGrey{
	background-color:#999;
	height:85px;
}

.titleBar .small{
	display:inline-block;
	color:#FFF;
	font-size:1.7em;
	line-height:0.5em;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
	padding-right:5px;
	position:relative;
	top:-15px;
}

.titleBar .big{
	display:inline-block;
	color:#555;
	font-size:2.8em;
	line-height:0.5;
}



/* ==============
* LOCATION TURTLE > MAIN
============== */

.widget{
	-webkit-box-shadow:  -3px 2px 3px 1px rgba(0, 0, 0, 0.4);
    box-shadow:  -3px 2px 3px 1px rgba(0, 0, 0, 0.4);
	color:#FFF;
	}
	

.widget header{
	width:100%;
	height:80px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	position:relative;
	}

.widget header .timerBar{
	height:5px;
	width:100%;
}

.widget header .progress{
	width:0;
	height:5px;
	background-color:#d0e900;
	z-index:19999;
	position:absolute;
	left:0;
	top:-5px;
}
	
.widget header .nav{
	width:18%;
	height:75px;
	margin:0;
	margin-top:5px;
	float:left;
	color:rgba(255,255,255,0.4);
	text-align:center;
	line-height:4em;
	background-image:url(images/shadow_vertical.png);
	background-position:right top;
	position:relative;
}

.widget header .nav.active{
	margin:5px 0 0 0;
	width:25%;
	background-image:none;
	-webkit-box-shadow: 10px -4px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow:  3px -4px 2px 1px rgba(0, 0, 0, 0.4);
	text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
	z-index:8888;
	color:#FFF;
	font-size:1.3em;
	line-height:2.8em;
}

	
.widget header .clock{
	width:210px;
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	font-size:2.4em;
	text-align:center;
	line-height:1.9em;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
	color:#7deff1;
	font-family:SohoStdProBold;
}

.widget header .clock:after{
	height:75px;
	width:30px;
	background-image:url(images/shadow_clock.png);
	background-color:#F00;
	position:absolute;
	left:0;
	
}

.widget .group{
	padding:6%;
	line-height:1.5em;
	font-family:SohoGothicProReg;
	font-size:14px;
	height:100%;
}


/* ==============
* LOCATION TURTLE > MAIN
============== */

.widget .social{
	width:100%;
	padding-bottom:20px;
	
}


/* ==============
* LOCATION TURTLE > WEATHER
============== */


.widget .weather{
	width:100%;
	padding-bottom:90px;
	text-align:center;
}

.widget .weather .weatherBox{
	width:22%;
	min-width:130px;
	height:auto;
	float:left;
}

.widget .weather .weatherBox{
	margin-left:4%;
}

.widget .weather .weatherBox:first-child{
	margin-left:0;
}

.widget .weather .weatherBox .type{
	width:100%;
	height:175px;
	font-size:2em;
	font-family:SohoGothicProBold;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
	background-color:rgba(255,255,255,0.3);
}

.widget .weather .weatherBox .time{
	width:100%;
	height:50px;
	background-color:rgba(0,0,0,0.4);
	line-height:2.1;
	font-size:1.5em;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
}

.widget .weather .weatherBox .type i{
	width:100%;
	max-width:160px;
	height:125px;
	margin:0 auto 10px auto;
	background-position:center -20px;
}

.widget .weather .weatherBox:after{
	content: "";
	background-image:url(images/shadow3.png);
	background-size:100%;
	background-position:center top;
	background-repeat:no-repeat;
	height:20px;
	display:block;
	z-index:1;
}

/* ==============
* LOCATION TURTLE > WEATHER > ICONS
============== */

.mist{
	background-image:url(images/FT__0000_mist.png);
}

.bliksem{
	background-image:url(images/FT__0001_bliksem.png);
}

.sneeuw{
	background-image:url(images/FT__0002_sneeuw.png);
}

.hagel{
	background-image:url(images/FT__0003_hagel.png);
}

.zwareregen{
	background-image:url(images/FT__0004_zwareregen.png);
}

.regen{
	background-image:url(images/FT__0005_regen.png);
}

.wisselvallig{
	background-image:url(images/FT__0006_wisselvallig.png);
	background-position:right -15px !important;
}

.lichtbewolkt{
	background-image:url(images/FT__0007_licht-bewolkt.png);
	background-position:right -15px !important;
}

.zon{
	background-image:url(images/FT__0008_zonnig.png);
	background-position:center -15px !important;
}



/* ==============
* LOCATION TURTLE > MAIN (pt. 2)
============== */

.widget .social #leftColumn{
	float:left;
	width:30%;
	height:auto;
}

.widget .pane.column{
   
   -webkit-column-count: 2;
   -webkit-column-gap:   5px;
   -moz-column-count:    2;
   -moz-column-gap:      5px;
   column-count:         2;
   column-gap:           5px;
   
}

.widget .turtle{
	width:92%;
	padding:4%;
	display:block;
	
}


/* ==============
* LOCATION TURTLE > FINANCES
============== */

.widget .finances .com_shares{
	width:auto;
	max-width:99%;
	border:3px solid #FFF;
	min-height:70px;
	padding:2%;
	background-color:rgba(0,0,0,0.2);
	margin-bottom:20px;
}

.widget .finances .com_shares h2{
	font-family:SohoGothicProBold;
	font-size:1,5em;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
}

.widget .finances .shares{
	width:100%;
	min-height:70px;
	margin-bottom:25px;
}


/* ==============
* LOCATION TURTLE > SOCIAL MEDIA
============== */

.fsq{
	width:92%;
	padding:16px 4% 16px 4%;
	min-height:30px;
	height:auto;
	margin-bottom:20px;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
	background-color:rgba(0,0,0,0.4);
}

.instgrm{
	min-height:30px;
	height:auto;
	padding:0;
	width:100%;
	position:relative;
	margin-bottom:35px;
	display:block;
	padding-bottom:25px;
}

.tweet{
	width:92%;
	padding:16px 4% 16px 4%;
	min-height:30px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	margin-bottom:40px;
	position:relative;
	display:block;
}

.instgrm:after{
	content: "";
	background-image:url(images/shadow3.png);
	background-size:100%;
	background-position:center top;
	background-repeat:no-repeat;
	height:20px;
	display:block;
	z-index:1;
}

.tweet:after{
	content: "";
	background-image:url(images/shadow3.png);
	background-size:100%;
	background-position:center top;
	background-repeat:no-repeat;
	height:20px;
	display:block;
	z-index:0;
	position:relative;
	top:36px;
	opacity:0.6;
}

.instgrm h5{
	position:absolute;
	bottom:2px;
	left:2px;
	right:0;
	text-align:right;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
	z-index:3;
}

.tweet h5 {
	position:absolute;
	display:inline-block;
	left:3px;
	bottom:-22px;
}

.tweet .speak{
	border-width: 20px 20px 0 0;
	border-style: solid;
	display:inline-block;
	width:1px;
	height:10px;
	z-index:123500;
	position:absolute;
	left:60px;
	bottom:-30px;
}


/* ==============
* LOCATION TURTLE > FLOORS
============== */

.floor{
	width:92%;
	padding:16px 4% 16px 4%;
	min-height:80px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	margin-bottom:30px;
	display:block;
	font-size:2.9em;
}


.floor h2{
	font-size:1em;
	float:left;
	width:20%;
	margin-top:20px;
}

.floor .here{
	float:right;
	font-size:0.45em;
}

.floor ul li{
	display:block;
	float:none;
	margin-bottom:20px;
}



.widget .yellow{
	color:#d0e900;
}

.bold{
	font-family:SohoGothicProBold;
}

/* ==============
* 		FOOTER	  > MAIN	
============== */

footer{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	height:80px;
	background-color:#FFF;
	font-family:SohoGothicProReg;
	z-index:99999999;
	}

footer:before{
	content: "";
	position:relative;
	background-image:url(images/shadow_footer.png);
	background-size: 100% auto;
	background-position:center bottom;
	background-repeat:no-repeat;
	height:10px;
	bottom:10px;
	display:block;
	z-index:9999999;
}

footer #flatturtle-logo{
	margin-left:10px;
	margin-top:4px;
}

footer #client-logo{
	position:absolute;
	top:10px;
	right:20px;
	height: 60px;
}

footer #where{
	position:absolute;
	left:50%;
	width:30%;
	top:0;
	height:80px;
	line-height:4.4em;
}



/* ==============
*  MEDIA QUERIES
============== */


@media all and (max-width: 1200px) {
  	.widget .social .socialBox{
		width:90%;
		margin:0;
	}
	
	.widget header .clock{
		width:140px;
	}
	
	body{
		font-size:15px;
	}
	
	.titleBar h2{
		line-height:3.7em;
	}
	
	.results ul li h3{
		line-height:2.2em;
	}
	
	.turtle .wide ul li h3{
		line-height:2.1em;
	}
	
	.results ul li .time{
		line-height:2.7em;
	}
	
	.titleBar .distance p{
		float:none;
		margin:0 0 0 0;
		font-size:10px;
		line-height:4em;
	}
	
	.titleBar .distance{
		padding-top:0px;
	}
	
	.titleBar .distance .bike{
		margin-left:0;
	}
	
	.results ul li .square, 
	.results ul li .bus,
	.results ul li .tram{
		line-height:2.9;
	}
	
	footer #where{
		line-height:5.7;
	}
	.widget header .clock{
		line-height:2.3em;
	}
	
	.titleBar .small{
		top:-11px;
	}
	
}


@media all and (max-width:900px){
	body{
		font-size:13px;
	}
	
	.widget header .clock{
		width:100px;
		font-size:1.5em;
		line-height:4em;
	}
	
	h4{
		line-height:5em;
	}
	
	.titleBar h2{
		line-height:4.1;
	}
	
	
	.results ul li h3{
		line-height:2.9em;
	}
	
	.results ul li .time{
		line-height:3.3em;
	}
	
	.results ul li .square, 
	.results ul li .bus,
	.results ul li .tram{
		line-height:3.5em;
	}
	
	.turtle .wide ul li h3{
		line-height:2.5em;
	}
	
	.square{
		line-height:5.4em;
	}
	
	.titleBar .small{
		top:-9px;
	}
	
	.widget .pane.column{
    	-webkit-column-count: 1;
   		-webkit-column-gap:   0;
   		-moz-column-count:    1;
   		-moz-column-gap:      0;
   		column-count:         1;
   		column-gap:           0;
   
}
}

@media all and (max-width: 750px) {
  	.pane{
  		width:100%;
		-webkit-overflow-scrolling: touch;
  	}
	
	.list .turtle:last-child{
		padding:0;
	}
	
	#container{
		overflow:scroll;
	}
	
	.pane > *{
		-webkit-transform: translateZ(0px);
	}
	
	.titleBar h2{
		line-height:4.0;
	}
	
	.group{
		width:100%;
	}
	
	.titleBar .distance .foot,
	.titleBar .distance .bike{
		float:left;
		width:auto;
		margin:0 5px 0 15px;
		font-size:11px;
		padding-left:45px;
	}
	
	.results ul li h3{
		line-height:2.5em;
	}
	
	.titleBar .distance{
		height:55px;
		line-height:3.9em;
	}
	
	footer{
		position:static;
		text-align:center;
		padding-top:20px;
	}
	
	footer #ftlogo{
		margin:10px auto 0 auto;
	}
	
	footer #loc_logo{
		position:static;
		width:217px;
		margin:0 auto 10px auto;
	}
	
	footer:before{
		background-image:none;
	}
	
	footer #where{
		position:static;
		margin:0 auto;
		width:90%;
		text-align:center;
		height:auto;
		line-height:4.2em;
	}
	
	.widget header .clock{
		line-height:1.8em;
	}
	
	.pane{
		overflow:visible;
	}
}

@media all and (max-width: 500px) {
	
	footer{
		position:static;
		text-align:center;
		padding-top:20px;
	}
	
	footer #ftlogo{
		margin:10px auto 0 auto;
	}
	
	footer #loc_logo{
		position:static;
		width:217px;
		margin:0 auto 10px auto;
	}
	
	.titleBar .distance{
		padding-left:0;
	}
	
	.titleBar .distance .foot, .titleBar .distance .bike{
		margin-left:0;
	}
	
	footer:before{
		background-image:none;
	}
	
	footer #where{
		position:static;
		margin:0 auto;
		width:90%;
		text-align:center;
		height:auto;
		line-height:4.2em;
	}
	
	.pane{
		overflow:visible;
	}
}

@media all and (min-width: 1600px) {
	
	body{
		font-size:22px;
	}
	
	.floor{
		font-size:3.1em;
	}
	
	footer #where{
		font-size:28px;
		line-height: 2.6em;
	}
	
	.titleBar h2{
		line-height:2.3em;
	}
	
	.titleBar .distance{
		line-height:1.9em;
	}
	
	.turtle ul li h3{
		line-height:1.5;
	}
	
	.results ul li .time p{
		line-height:1.6;
	}
	
	.turtle .wide ul li h3{
		line-height:1.4em;
	}
	
	.turtle .results.wide ul li .time{
		line-height:1.6em;
	}
	
	.group p{
		font-size:18px;
		line-height:1.4;
	}
	
	.nav h4{
		line-height:2.7em;
	}
	
	.widget header .clock{
		line-height:1.8;
	}
	
	.results ul li .square, 
	.results ul li .bus,
	.results ul li .tram{
		line-height:2.1em;
	}
	
	.titleBar .small{
		top:-18px;
	}
}



/* ==============
* 	BASIC CLASSES
============== */

.floatLeft, .results ul li div:first-child{
	float:left;
}

.red{
	color:#c30000;
	}

.orange{
	color:#F93;
}

/* ==============
* 	BASIC CLASSES	> COLOR OF SCREEN
============== */

/* MAIN COLOR */
.color{
	background-color:#21aeb0;
}

.text-color{
	color:#21aeb0;
}

/* EXTRA COLOR */

.color2{
	background-color:#6cc3c4;
}

.border-color{
	border-color:#6cc3c4 transparent;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .social:before, .social:after,
.clearfix:after, .list:after, .list:before, #container:before, #container:after, .widget:before, .widget:after, .weather:after, .weather:before, .turtle:after, .turtle:before, .titleBar:after, .floor:after, .floor:before, .titleBar:before, .distance:before{
    content: " "; /* 1 */
    display: table; /* 2 */
}


.clearfix:after, .social:after, .list:after, .floor:after, .widget:after, #container:after, .turtle:after, .weather:after, .titleBar:after, .distance:after {
    clear: both;
}



/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

