/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

i{
	display:block;
}

@font-face {
    font-family: SohoGothicProReg;
    src:url(fonts/SohoGothicPro-Regular.otf);
}

@font-face {
    font-family: SohoGothicProMed;
    src:url(fonts/SohoGothicPro-Medium.otf);
}

@font-face {
    font-family: SohoGothicProBold;
    src:url(fonts/SohoGothicPro-Bold.otf);
}

@font-face {
    font-family: SohoStdProBold;
    src:url(fonts/SohoStdBold.otf);
}

div, ul, li, h1, h2, h3, h4, section, p, i{
	background-repeat:no-repeat;
	background-position:left center;
}

h2 {
display: block;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
font-weight: bold;
}

p {
display: block;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

body {
    font-size: 19px;
    line-height: 1.2;
	width:100%;
	height:100%;
	font-family:SohoGothicProMed;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

ul, ul li{
	list-style-type:none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0;
	}

ul li{
	float:left;
	}

#container{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	}

.panel{
	width:50%; 
	float:left;
	background-color:#DDD;
	height:100%;
	}


/* PUBLIC TRANSPORT SCREEN CSS */

.titleBar{
	width:100%;
	height:80px;
	color:#FFF;
	background-color:#333;
	position:relative;
	}

.list .distance{
	height:55px;
	position:absolute;
	right:0;
	top:0;
	line-height:2.2em;
	width:auto;
	padding:18px 10px 0 10px;
	background: #232323; /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #232323 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #232323 0%,#333333 100%); /* W3C */
	}

.list{
	background-color:#CCC;
}

.distance .foot, .distance .bike, .distance p{
	float:left;
	width:auto;
	font-size:15px;
	}

.distance p{
	margin:0 10px 0 0;
	padding-left:20px;
}

.distance .bike{
	background-image:url(images/FT__0001_fietsafstand.png);
	width:40px;
	height:40px;
	}

.bike{
	background-image:url(images/FT__0001_fietsafstand.png);
	width:40px;
	height:40px;
	}

.foot{
	background-image:url(images/FT__0000_wandelafstand.png);
	width:40px;
	height:40px;
	}

.distance .foot{
	background-image:url(images/FT__0000_wandelafstand.png);
	width:40px;
	height:40px;
	}
	
.turtle{
	padding-bottom:20px;
	background-color:#FFF;
}

/* NEXT TRAINS/TRAMS/BUSSES FROM STATIONS */
.results{
	display:block;
	width:100%;
	font-family:SohoGothicProMed;
	}

.results ul li{
	display:block;
	float:none;
	height:48px;
	padding-top:7px;
	background-color:#f2f2f2;
	clear:both;
	font-size:1em;
	line-height:2.4em;
	}

.results ul li:nth-child(2n){
	background-color:#FFF;
	}
 
.results ul li .tramOrBus,
.results ul li .bus,
.results ul li .tram,
.results ul li .square{
	width:40px;
	height:40px;
	background-color:#000;
	margin-left:15px;
	text-align:center;
	line-height:2.2em;
	font-size:0.9em;
	color:#FFF;
	float:left;
	}

.results ul li .square:nth-child(2){
	margin-left:0;
}

.results ul li .bus, .results ul li .tram{
	margin:0;
	background-color:#ccc;
	}

.results ul li h3{
	float:left;
	margin-left:15px;
	line-height:1.8em;
	}

.results ul li .time{
	float:right;
	width:30%;
	font-family:SohoGothicProMed;
	line-height:2.2em;
	}

.results ul li .time p{
	float:left;
	display:block;
	width:40%;
	text-align:center;
	}

.turtle .wide ul li .square{
	width:60px;
	background-color:#BBB;
	color:#333;
}

.turtle .wide ul li h3{
	margin-left:23px;
}

.turtle .wide ul li .square:before{
	content:"";
	width:20px;
	height:40px;
	background-image:url(images/arrow_right.png);
	background-repeat:no-repeat;
	display:block;
	position:absolute;
	left:81px;
	margin-top:10px;
}

.turtle .wide ul li .time p:first-child{
	color:#666;
	text-align:right;
}

.turtle .results.wide ul li .time{
	width:35%;
	}

.turtle .results.wide ul li .time p{
	text-align:right;
	width:40%;
}

.results ul .via{
	background-image:url(images/arrow.png);
	background-position:15px top;
	}

.results ul .via .square{
	margin-left:55px;
}


/* ============================= !!! =============================
* ICONS + BUS NUMBERS + TRAIN LINES
*  ============================= !!! =============================
*/

/*===TITLE BARS ICON===*/

/*TRAIN*/
.titleBar .train, .titleBar .tram.bus, .titleBar .traffic, .titleBar .bus{
	width:81px;
	height:81px;
	float:left;
	margin-left:15px;
	}

.titleBar h2{
	float:left;
	margin-left:5px;
	font-size:1.7em;
	font-weight:bold;
	line-height:2.4em;
	font-family:SohoGothicProBold;
}

.titleBar .train{
	background-image:url(images/FT__0005_treinstation.png);
}

/*TRAFFIC*/
.titleBar .traffic{
	background-image:url(images/FT__0002_autoverkeer.png);
	}
	
/*tram bus*/
.titleBar .tram.bus{
	background-image:url(images/FT__0000_tram-enbushalte.png);
	}

/*tram bus*/
.titleBar .tram{
	background-image:url(images/FT__0001_huurfietsen.png);
	}
	
/*bus*/
.titleBar .bus{
	background-image:url(images/FT__0003_bushalte.png);
	}

/*SUB-CLASS BUS*/
.results .bus{
	background-image:url(images/FT__0002_bus.png);
	padding:0;
	}

/*SUB-CLASS TRAM*/
.results .tram{
	background-image:url(images/FT__0003_tram.png);
	padding:0;
	}


/*
* ICONS TITLES PUBLIC TRANSPORT
*/
.icon_big.train{
	background-image:url(images/FT__0005_treinstation.png);
	}

.icon_big.tram{
	background-image:url(images/FT__0004_tramhalte.png);
	}

.icon_big.bus{
	background-image:url(images/FT__0003_bushalte.png);
	}

/*
* LOCATION TURTLE
*/

.widget{
	background-color:#bd1d92;
	-webkit-box-shadow:  -3px 2px 3px 1px rgba(0, 0, 0, 0.4);
    box-shadow:  -3px 2px 3px 1px rgba(0, 0, 0, 0.4);
	color:#FFF;
	}
	
.widget .titleBar{
	width:100%;
	height:80px;
	background: #5d0e48; /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d0e48), color-stop(100%,#b91c8f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5d0e48 0%,#b91c8f 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #5d0e48 0%,#b91c8f 100%); /* W3C */
	position:relative;
	}

.widget .titleBar .timerBar{
	height:5px;
	width:100%;
}

.widget .titleBar .timerBarYellow{
	width:0;
	height:5px;
	background-color:#d0e900;
	z-index:19999;
	position:absolute;
	left:0;
}
	
.widget .titleBar .nav{
	width:15%;
	height:75px;
	margin:0 1% 0 1%;
	float:left;
	color:#ba73a7;
	text-align:center;
	line-height:4em;
	/*background-image:url(images/shadow_loc.jpg);
	background-position:right top;*/
}

.widget .titleBar .nav.active{
	margin:0;
	width:25%;
	background-image:none;
	-webkit-box-shadow: 10px -4px 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow:  3px -4px 2px 1px rgba(0, 0, 0, 0.4);
	text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
	z-index:8888;
	color:#FFF;
	font-size:1.3em;
	line-height:2.8em;
}

	
.widget .titleBar .clock{
	width:210px;
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	background-color:#bd1d92;
	-webkit-box-shadow:  -3px -4px 3px 1px rgba(0, 0, 0, 0.4);
    box-shadow:  -3px -4px 3px 1px rgba(0, 0, 0, 0.4);
	font-size:2.4em;
	text-align:center;
	line-height:1.9em;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
	color:#de8ec9;
	font-family:SohoStdProBold;
}

.widget .locContent{
	padding:6%;
	line-height:1.5em;
	font-family:SohoGothicProReg;
	font-size:14px;
}

.widget .social{
	width:100%;
	padding-bottom:70px;
}

.widget .social #leftColumn{
	float:left;
	width:30%;
	height:auto;
}

.widget .social #oneColumn{
	width:100%;
	height:auto;
}

.widget .social #rightColumn{
	float:left;
	width:65%;
	height:auto;
	margin-left:5%;
}

.widget .social .fsq{
	width:92%;
	padding:16px 4% 16px 4%;
	min-height:30px;
	height:auto;
	margin-bottom:20px;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
	background-color:#711158;
}

.widget .social .instgrm{
	min-height:30px;
	height:auto;
	padding:0;
	width:100%;
	position:relative;
	margin-bottom:35px;
}

.widget .social .instgrm:after{
	content: "";
	background-image:url(images/shadow3.png);
	background-size:100%;
	background-position:center top;
	background-repeat:no-repeat;
	height:20px;
	display:block;
}

.widget .social .tweet{
	width:92%;
	padding:16px 4% 16px 4%;
	min-height:30px;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.4);
	background-color:#c73fa2;
	position:relative;
	margin-bottom:40px;
	height:auto;
}

.widget .social h5{
	position:absolute;
	bottom:-40px;
	left:2px;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
	z-index:3;
}

.widget .social .instgrm h5{
	right:0;
	text-align:right;
	bottom:-42px;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

.widget .social .tweet:before{
    content: "";
	position: absolute;
	bottom: -20px;
	left: 105px;
	border-width: 20px 20px 0 0;
	border-style: solid;
	border-color: #c73fa2 transparent;
	display: block;
	width: 0; 
	z-index:99999;
}

.widget .social .tweet:after{
    content: "";
	position:absolute;
	background-image:url(images/shadow3.png);
	background-size:100% 19px;
	background-position:center top;
	background-repeat:no-repeat;
	opacity:0.3;
	height:15px;
	width:92%;
	bottom:-15px;
	display:block;
	z-index:0;
}


.widget .yellow{
	color:#d0e900;
}

.bold{
	font-family:SohoGothicProBold;
}

footer{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	height:80px;
	background-color:#FFF;
	font-family:SohoGothicProReg;
	z-index:99999999;
	}

footer:before{
	content: "";
	position:relative;
	background-image:url(images/shadow_footer.png);
	background-size: 100% auto;
	background-position:center bottom;
	background-repeat:no-repeat;
	height:10px;
	bottom:10px;
	display:block;
	z-index:9999999;
}

footer #ftlogo{
	margin-left:10px;
	margin-top:4px;
}

footer #loc_logo{
	position:absolute;
	top:10px;
	right:20px;
}

footer #where{
	color:#bd1d92;
	position:absolute;
	left:50%;
	width:30%;
	top:0;
	height:80px;
	line-height:4.2em;
}


@media all and (max-width: 1200px) {
  	.widget .social .socialBox{
		width:90%;
		margin:0;
	}
	
	.widget .titleBar .clock{
		width:140px;
	}
	
	body{
		font-size:15px;
	}
	
	h2{
		line-height:3em;
	}
	
	.results ul li h3{
		line-height:2.2em;
	}
	
	..results ul li .time{
		line-height:2.9em;
	}
	
	.titleBar .distance .foot,
	.titleBar .distance .bike{
		float:none;
		margin:0 0 0 0;
		font-size:11px;
	}
	
	.titleBar .distance{
		line-height:1.9em;
		padding-top:10px;
	}
	
	.results ul li, 
	.results ul li .bus,
	.results ul li .tram{
		line-height:2.8em;
	}
}

@media all and (max-width:900px){
	body{
		font-size:13px;
	}
	
	.widget .titleBar .clock{
		width:100px;
		font-size:1.5em;
		line-height:4em;
	}
	
	h2{
		line-height:3.5em;
	}
	
	.results ul li h3{
		line-height:2.9em;
	}
	
	.results ul li .time{
		line-height:3.3em;
	}
	
	.results ul li, 
	.results ul li .bus,
	.results ul li .tram{
		line-height:3.2em;
	}
}

@media all and (max-width: 750px) {
  	.panel{
  		width:100%;
		-webkit-overflow-scrolling: touch;
  	}
	
	.panel > *{
		-webkit-transform: translateZ(0px);
	}
	
	.titleBar .distance .foot,
	.titleBar .distance .bike{
		float:left;
		width:auto;
		margin:0 5px 0 15px;
		font-size:11px;
		padding-left:45px;
	}
	
	.titleBar .distance{
		height:55px;
		line-height:3.9em;
	}
	
}

@media all and (max-width: 500px) {
	
	.titleBar .distance .bike,
	.titleBar .distance .foot{
		float:none;
		margin:0 0 0 0;
		font-size:11px;
	}
	
	.titleBar .distance{
		line-height:1.9em;
		padding-top:10px;
	}
}

@media all and (min-width: 1600px) {
	
	body{
		font-size:16px;
	}
}


.floatLeft, .results ul li div:first-child{
	float:left;
}

.red{
	color:#c30000;
	}

.orange{
	color:#F93;
}

/* MAIN COLOR */
.color{
	background-color:#bd1d92;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .social:before, .social:after,
.clearfix:after, .list:after, .list:before, .widget:before, .widget:after, .titleBar:after, .titleBar:before, .distance:before{
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after, .social:after, .list:after, .widget:after, .titleBar:after, .distance:after {
    clear: both;
}

.clearfix2:before{
	clear:both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

