<div class="header">
    <i class="calendar"></i>
    <h2>{{header}}</h2>
</div>
<div class="results {{size}}">
    <ul>
        {{#entries}}
        <li class='{{label_class}}'>
            <div class="time">
                <div class='shift-right'>
                    <span class='icon-time'></span>
                    {{start_time}} &mdash; {{end_time}}
                    <span class='date'>
                        {{start_date}}
                        {{#end_date}}
                            &mdash;
                            {{end_date}}
                        {{/end_date}}
                    </span>
                </div>
            </div>
            <div class='info'>
                <div class='shift-right'>
                    <h3>{{summary}}</h3>
                    <p>{{{description}}}</p>
                    {{^filter}}
                    <p class='location'>{{location}}</p>
                    {{/filter}}
                </div>
            </div>

            {{#now}}
            <div class='message bg-color-dark'>
                NOW
            </div>
            {{/now}}
            {{#next}}
            <div class='message bg-color'>
                NEXT
            </div>
            {{/next}}
        </li>
        {{/entries}}
        {{^entries}}
            {{#error}}
            <li class='error'>
                <span class='message'>No planned events</span>
            </li>
            {{/error}}
        {{/entries}}
    </ul>
</div>