<div class="eventlist">
{{#entries}}
<div class="event" style="background: url('{{image}}'); ">
    <div class='bottom bg-color-light text-shadow-dark'>
        <div class='item'>
            <div class='content'>
                {{&name}}
            </div>
        </div>
        <div class='item'>
            <div class='content'>
                <div class='day'>{{&day}}</div>
                <div class='month'>{{&month}}</div>
            </div>
        </div>
    </div>
</div>
{{/entries}}
{{^entries}}
    <div class="error bg-color-light text-shadow-dark">
        <p>At this moment there are no events to display.</p>
    </div>
{{/entries}}
</div>
