{{#entries}}
<div class="event">
    <div class='body bg-color-light text-shadow-dark'>
        <div class="infolist">
            {{#image}}
                <img src="{{image}}" />
            {{/image}}
        </div>
        <div class="summarylist">
            <h2>{{&name}}</h2>
            <p>{{&location}}</p>
        </div>
    </div>
</div>
{{/entries}}
{{^entries}}
    <div class="error bg-color-light text-shadow-dark">
        <p>At this moment there are no events to display.</p>
    </div>
{{/entries}}

