<div class="com_shares">
	<h2>Our shares</h2>
	<div>
		<div>
			<p class="main_number">&euro; 9,53</p>
			<div class="numbers red">
				<ul>
					<li>-0,721</li>
					<li>-1,75%</li>
				</ul>
			</div>
		</div>
		<h2>NYR.BR</h2>
		<h3>NYRSTAR</h3>
	</div>
	<div>
		<ul>
			<li>Open &euro; 4,321</li>
			<li>Hoog &euro; 8,321</li>
			<li>Laag &euro; 2,321</li>
			<li>Vorig slot &euro; 4,321</li>
			<li>Volume 207.386</li>
		</ul>
	</div>
</div>
<div class="shares color2">
	<div>
		<h2>NYR.BR</h2>
		<h3>NYRSTAR</h3>
	</div>
	<div class="numbers red">
		<ul>
			<li>-0,132</li>
			<li>-1,26%</li>
		</ul>
	</div>
	<p class="main_number">&euro; 4,37</p>
</div>
<div class="shares color2">
	<div>
		<h2>KBC.BR</h2>
		<h3>KBC GR</h3>
	</div>
	<div class="numbers grey">
		<ul>
			<li>+0</li>
			<li>+0</li>
		</ul>
	</div>
	<p class="main_number">&euro; 4,37</p>
</div>
<div class="shares color2">
	<div>
		<h2>BANI.BRU</h2>
		<h3>Banimmo A</h3>
	</div>
	<div class="numbers green">
		<ul>
			<li>+0,132</li>
			<li>+1,26%</li>
		</ul>
	</div>
	<p class="main_number">&euro; 9,53</p>
</div>