.turtle.calendar{
    .results{
        .info{
            width: 96%;
            padding: 5px 2%;

            *{
                display: block;
                margin-left: 0px;
                float: none;
            }

            .location{
                color:#999;
            }

            p{
                line-height: 38px;
            }
        }

        h3{
            width: 100%;
        }

        .time{
            width: 96%;
            padding: 0 2%;
            margin: 0px;
            position: relative;

            .icon-time{
                display: inline-block;
                background:url(../images/icon_clock.png) no-repeat;
                background-size: contain;
                width: 20px;
                height: 20px;
                margin-right: 3px;
                margin-top: 1px;;
            }

            .date{
                margin-left: 45px;
                color: #999;
            }
        }

        .shift-right{
            padding-left: 1.4%;
        }

        .now{
            margin: 0px;
            padding: 0px;
            position: relative;

            .message{
                display: table;
                vertical-align: middle;
                position: absolute;
                text-align: center;
                color: white;
                width: 80px;
                height: 40px;
                padding: 0px;
                margin: 0px;
                top: 50%;
                margin-top: -25px;
                left: 0px;
                z-index: 400;
            }


            .shift-right{
                padding-left: 90px;
            }

        }


        &.big{
            font-size: 1.5em;

            li{
                padding-top: 25px;
                padding-bottom: 25px;
            }

            .now{

                .message{
                    margin-top: -35px;
                    width: 100px;
                }


                .shift-right{
                    padding-left: 115px !important;
                }
            }
        }
    }

}