.turtle.info .info {
    width: 96%;
    padding: 20px 2% 20px 2%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    line-height: 1.9em;

    i{
        display: inline;
    }

    h2{
        margin: 25px 0px 20px 0px;
    }

    h3{
        margin: 15px 0px 10px 0px;
    }

    ul {
        list-style: disc !important;
        list-style-type: disc !important;
    }

    ul li{
        float: none !important;
        list-style: disc !important;
        list-style-type: disc !important;
    }

    ol, ul {
        padding: 10px;
        padding-left: 55px;
    }
}