.tweet {
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 3%;


    .body {
        width: 100%;
        padding:0px;
        padding-top: 65px;
        position: relative;

        p{
            line-height: 1.5em;
            font-weight: 300;
            word-wrap: break-word;
            padding: 2%;
            padding-top: 1%;
            position: relative;
            font-size: 20px;
        }

        .clearfix{
            height: 1px !important;
            margin: 0px !important;
            padding: 0.2% !important;
            font-size: 1px !important;
        }

        span.time{
            display: block;
            position: absolute;
            top: 0px;
            padding: 1% 0px;
            right: 2%;
            line-height: 38px;
            height: 40px;
            text-align: right;
            z-index: 5;
            font-size: 18px;
        }

        img{
            max-width: 18%;
            float: left;
            margin-right: 2%;

            &.media{
                max-height: 100%;
            }
        }
    }

    .author {
        padding: 1%;
        position: absolute;
        z-index: 2;
        top: 0px;
        left: 0px;
        height: 40px;
        width: 98.1%;
        right: 0px;
        font-size: 25px;
        line-height: 32px;

        img{
            margin-right: 15px;
            float: left;
            width: 40px;
            height: 40px;
        }

        h5 {
            font-size: 17px;
            position: relative;
            font-weight: normal;
            margin: 0px;
            text-shadow: 1px 1px 1px rgba(0,0,0, 0.7);
            display: inline-block;
        }

        .account{
            display: inline-block;
            font-size: 15px;
            margin-left: 10px;
        }
    }

    // Big version
    &.big{
        .body {
            padding-top: 100px;

            p{
                font-size: 33px;
                padding: 3%;
                padding-top: 2%;
            }

            span.time{
                padding: 2% 0px;
                font-size: 26px;
                height: 60px;
                line-height: 58px;
            }

            img{
                max-width: 40%;
            }
        }


        .author {
            padding: 2%;
            height: 60px;
            line-height: 100%;
            width: 96.1%;

            img{
                height: 60px;
                width: 60px;
            }

            h5 {
                font-size: 35px;
                margin: 0px;
                margin-top: 0px;
                margin-bottom: 10px;
                display: block;
            }

            .account{
                display: inline-block;
                font-size: 22px;
                margin-left: 0px;
            }
        }
    }
}